@import 'include/base';

body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: @gray;
}

a {
  &:link, &:visited, &:hover, &:active {
    color: @dark-orange;
  }
  &:hover {
    color: @orange;
  }
}

.container {
  width: @column-width * 25;
  .center();
  .box-shadow(0 0 8px rgba(50, 0, 255, 0.4));
}

.inner-container {
  padding: @column-width / 2;
}

.test-canvas {
  display: block;
  width: 600px;
  height: 400px;
  border: 2px dashed @green;
  .center();
}
