body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #2e2e2e;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #a64b00;
}
a:hover {
  color: #ff7400;
}
.container {
  width: 800px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 8px rgba(50, 0, 255, 0.4);
  -moz-box-shadow: 0 0 8px rgba(50, 0, 255, 0.4);
  box-shadow: 0 0 8px rgba(50, 0, 255, 0.4);
}
.inner-container {
  padding: 16px;
}
